body{
    font-family: 'Sourse Sans Pro', sans-serif;
}

h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
}

header span {
    color: #8ca7c5;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}



