*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilização da sessão banner */

.sessao-banner{
    background-image: url(./assets/img-fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;

    height:115vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-banner  div{
    color: white;
    background-color: rgba(15,165,140,0.8);

    border: 1px solid;
    border-radius: 5px;

    width: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao-banner div > h1{
    font-size: 3rem;
    padding: 3rem 0;
}

.sessao-banner div > p{
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

/* estilização da sessão de boas vindas */
.sessao-boas_vindas{
    display: flex;
    flex-direction: column;
}

.sessao-boas_vindas > h3{
    margin: 5rem 0 2rem 0;
}

.sessao-boas_vindas ul > li{
    text-align: center;
    line-height: 2.5rem;
}

.info-quartos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 3rem 0 4rem 0;
}

.info-quartos img{
    width: 25vw;
    height: 35vh;
}

.info-quartos article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-quartos article > p{
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.info-quartos article > hr{
    width: 25vw;
}

/* estilização da  sessão rota*/
.sessao-rota{
    text-align: center;
}

.sessao-rota h3{
    margin-bottom: 2rem;
}

.sessao-rota p{
    margin-bottom: 3rem;
}

.sessao-rota iframe{
    width: 100%;
}

/* estilização sobre a pousada */
.sessao-sobre_pousada > p{
    text-align: center;
}

.sessao-sobre_pousada h3{
    margin: 4rem 0 2rem 0;
}

.container{
    display: flex;
    justify-content: space-around;
    
    margin: 3rem 0 1rem 0;
}

.container img{
    width: 8vw;
    height: 20vh;
    float: right;
   
}

.colun1, .colun2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container article{
    width: 40vw;
    
    padding-bottom: 3rem;
}

.container article h5{
    padding-bottom: 1.7rem;
}

/* estilização do rodapé da página */




